@model List<MVC_5_Tutorials.Models.Car>

@{
    ViewBag.Title = "Index";
    var a = 8;
}

<h2>@ViewBag.ValueFromIndexController - Index</h2>
@{ a += 1;}

@{
    foreach (var car in Model)
    {
        <ul style="background-color:antiquewhite;list-style-type:georgian">
            <li> @car.Id - @car.Make - @car.Model </li>
        </ul>
    }
}
<p>Value: @a.ToString("C")</p>

@helper CountChild(int count)
{
    @(count== 1 ? "child" : "Akhilesh");
}

@{  var l = 8;
    <p> While @l and @CountChild(@l) </p>

}

