@model HttpHelperMethods.Models.Book

@{
    ViewBag.Title = "Index";

    List<SelectListItem> categories = (List<SelectListItem>)ViewBag.Categories;
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{

    <div class="form-group">
        @Html.LabelFor(p => p.Title)
        @Html.TextBoxFor(p => p.Title, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.CopiesS)
        @Html.EditorFor(p => p.CopiesS, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.YearP)
        @Html.DropDownListFor(p => p.YearP, new SelectList(
    new List<object>
        {
            new { Text = 12},
            new { Text = 23},
            new { Text = 112},
            new { Text = 233},
            new { Text = 125},
            new { Text = 293}
        }, "Text", "Text", 293),
     new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Cate, new { @class = "form-control" })
        @Html.ListBoxFor(p => p.Cate, categories, new { @class="form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Genre)
        @Html.EnumDropDownListFor(p => p.Genre ,new { @class = "form-control" } )
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.InStock)
        @Html.CheckBoxFor(p => p.InStock, new { @class = "from-control" })
    </div>

    <br/>
    <div class="from-group">
        @Html.RadioButtonFor(p => p.Availability , HttpHelperMethods.Models.Availability.Pickup   , new { id = @HttpHelperMethods.Models.Availability.Pickup , @checked = true , @GroupName= "My Group"} )
        <label for="@HttpHelperMethods.Models.Availability.Pickup">@HttpHelperMethods.Models.Availability.Pickup</label>
        @Html.RadioButtonFor(p => p.Availability , HttpHelperMethods.Models.Availability.Delivery , new { id = @HttpHelperMethods.Models.Availability.Delivery , @GroupName = "My Group" })
        <label for="@HttpHelperMethods.Models.Availability.Delivery"> @HttpHelperMethods.Models.Availability.Delivery</label>
        @Html.RadioButtonFor(p => p.Availability , HttpHelperMethods.Models.Availability.Reseller , new { id = HttpHelperMethods.Models.Availability.Reseller , @GroupName = "My Group"} )
        <label for="@HttpHelperMethods.Models.Availability.Reseller">@HttpHelperMethods.Models.Availability.Reseller</label>
    </div>
    <br />

    <div class="form-group">
        @Html.LabelFor(p => p.Price)
        @Html.TextAreaFor(p => p.Price, 5, 30, new { @class = "form-control" })  
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}



