@model HttpHelperMethods.Models.Book

@{
    ViewBag.Title = "Index";

    List<SelectListItem> categories = (List<SelectListItem>)ViewBag.Categories;
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{

    <div class="form-group">
        @Html.LabelFor(p => p.Title)
        @Html.TextBoxFor(p => p.Title, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.CopiesS)
        @Html.EditorFor(p => p.CopiesS, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.YearP)
        @Html.DropDownListFor(p => p.YearP, new SelectList(
    new List<object>
        {
            new { Text = 12},
            new { Text = 23},
            new { Text = 112},
            new { Text = 233},
            new { Text = 125},
            new { Text = 293}
        }, "Text", "Text", 293),
     new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Cate, new { @class = "form-control" })
        @Html.ListBoxFor(p => p.Cate, categories, new { @class="form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Genre)
        @Html.EnumDropDownListFor(p => p.Genre , "Choose One ..",new { @class = "form-control" } )
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}



